= form_for @user, :url => main_app.user_change_password_path, :remote => true do |f|
  .row
    = f.label :current_password, t(:current_password) + '*'
    = f.password_field :current_password
  .row
    = f.label :password, t(:new_password) + '*'
    = f.password_field :password
  .row
    = f.label :password_confirmation, t(:confirm_new_password) + '*'
    = f.password_field :password_confirmation
  .row
    = f.submit t(:update_password)
    = hidden_field_tag :mode, :change_password
