%h5.offset-left
  = t("lens_prescription.glasses_type.title")
- if @order.item_count > 1
  %i.field_with_errors2= t("lens_prescription.prescription_warning")
- Spree::LensMetaPrescription::GLASSES_TYPE.each do |gt|
  .glasses_type
    = form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form|
      = form.fields_for :lens_meta_prescription do |mpf|
        = hidden_field_tag 'order[lens_meta_prescription_attributes][glasses_type]', gt
        - if mpf.object.glasses_type.to_s == gt.to_s
          .prescription-heading.open
            = link_to_function t("lens_prescription.glasses_type.#{gt}"), "show_form_by_glasses_type(this)"
        - else
          .prescription-heading
            = link_to_function t("lens_prescription.glasses_type.#{gt}"), "show_form_by_glasses_type(this)"
        - active_glasses_type = mpf.object.glasses_type.to_s == gt.to_s
        .prescription_form{ :style => "#{unless active_glasses_type then 'display:none' end}" }
          = render "spree/checkout/lens_prescription/#{gt}", :f => mpf

