%tr{:class => "#{cycle('', 'alt')} line-item"}
  %td.cart-item-image{"data-hook" => "cart_item_image"}
    - if variant.images.length == 0
      = link_to small_image(variant.product), variant.product
    - else
      = link_to image_tag(variant.images.first.attachment.url(:small)), variant.product
      .product-glasses-number.checkout-glasses-number
        %span.no NO.
        %span.glasses-no= variant.product.name
  %td.cart-item-description{"data-hook" => "cart_item_description"}
    .param-name= t(:item)
    .param-value= link_to variant.product.name, product_path(variant.product)
  %td
    .param-name= t(:color) + ':'
    .param-value= variant.option_value('frames-color') unless variant.option_values.empty?
  %td.cart-item-total{"data-hook" => "cart_item_total"}
    .param-name
      = t(:amount) + ':'
    .param-value
      = Spree::Money.new(0,{:currency => @order.currency})
  %td.cart-item-delete{"data-hook" => "hto_cart_item_delete"}
    = link_to image_tag('store/icon-close.png') , main_app.remove_item_from_cart_path(:id => line_item.id, :hto => true ), :class => 'delete', :id => "delete_#{dom_id(line_item)}"
