%table.index.table-account-order{"data-hook" => "order_details"}
  %tbody#line-items{"data-hook" => ""}
    - order.line_items.each do |item|
      %tr{"data-hook" => "order_details_line_item_row"}
        %td.image-row{"data-hook" => "order_item_image"}
          - if item.variant.images.length == 0
            = link_to mini_image(item.variant.product), item.variant.product
          - else
            = link_to image_tag(item.variant.images.first.attachment.url(:mini)), item.variant.product
          .product-glasses-number.checkout-glasses-number
            %span.no NO.
            %span.glasses-no= item.variant.product.name
        %td{"data-hook" => "order_item_description"}
          %p
            %strong=t(:item) + ':'
          .param-value
            %div
              NO:
              = item.variant.product.name
              \/
              = item.variant.option_value('frames-color') unless item.variant.option_values.empty?
            %div
              SKU:
              = item.variant.sku
            .prescription_details
              %p.param-value=t("lens_prescription.glasses_type.#{order.lens_meta_prescription.glasses_type}")
              = render "spree/users/order/prescription_details/#{order.lens_meta_prescription.glasses_type}", :prescription => order.lens_meta_prescription.lens_prescription
        %td{"data-hook" => "order_item_qty"}
          %p
            %strong=t(:quantity_abbr)+':'
          .param-value
            = item.quantity
        %td{"data-hook" => "order_item_ship_status"}
          %p
            %strong=t(:status) + ':'
          %p.param-value
            = order.shipment.try(:state)
        %td.total{"data-hook" => "order_item_total"}
          %p
            %strong=t(:amount) + ':'
          .param-value
            = item.display_amount
        
    - if order.lens_meta_prescription.purchase_subscription.present?
      %tr{"data-hook" => "order_details_line_item_row"}
        %td.image-row{"data-hook" => "rowley_care_image"}
          =image_tag '/assets/store/rowley-bag.jpg'
        %td{"data-hook" => "order_item_description"}
          %p
            %strong=t(:item) + ':'
          .param-value
            = t(:rowley_care)
        %td{"data-hook" => "order_item_qty"}
          %p
            %strong=t(:quantity_abbr)+':'
          .param-value
            1
        %td{"data-hook" => "order_item_ship_status"}
          %p
            %strong=t(:status) + ':'
          %p.param-value
            = order.shipment.try(:state)
        %td.total{"data-hook" => "order_item_total"}
          %p
            %strong=t(:amount) + ':'
          .param-value
            =Spree::Money.new(order.lens_meta_prescription.rowley_care_subscription_amount, { :currency => order.currency })
      
