.row{"data-hook" => "shipping_fieldset_wrapper"}
  %fieldset#shipping_method{"data-hook" => ""}
    %h5.offset-left= t(:shipping_method)
    .inner{"data-hook" => "shipping_method_inner"}
      #methods
        %p.field.radios
          - @order.rate_hash.each do |shipping_method|
            %label
              = radio_button(:order, :shipping_method_id, shipping_method[:id])
              = shipping_method.name
              / = shipping_method.display_price
        .shipping-method-text
          %p
            =t(:shipping_comments1)
          %p
            =t(:shipping_comments2, :email=>mail_to('customerservice@rowleyeyewear.com')).html_safe
  %hr

  %fieldset#shipping{"data-hook" => "shipping_address_form"}
    = form.fields_for :ship_address do |ship_form|
      %h5.offset-left= t(:shipping_address)
      = render :partial => 'spree/address/form2', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address}
      .row
        .field.checkbox{"data-hook" => "use_shipping"}
          = check_box_tag 'order[use_shipping]', '1', (!@order.bill_address.present? || (@order.bill_address.empty? && @order.ship_address.empty?) || @order.bill_address.same_as?(@order.ship_address))
          = label_tag :order_use_shipping, t(:use_shipping_address), :id => 'use_shipping', :class => 'radio-label'
        .field.checkbox.subscribe-email{"data-hook" => "subscribe_email"}
          = form.check_box :subscribe_to_news
          = form.label :subscribe_to_news, t(:subscribe_to_get_news), :class => 'radio-label'

.checkout-section
  .float-right.form-buttons{"data-hook" => "buttons"}
    = submit_tag t(:continue), :class => 'continue button primary'
  .clear
%hr
