.checkout-section
  .param-name #{t('lens_prescription.sunglasses_with.title')}
  .row
    = f.radio_button :demo_or_sunglasses, :demo, :class => 'refresh_totals demo_or_sunglasses'
    = f.label :demo_or_sunglasses, t("lens_prescription.frames_sunglasses.demo"), :value => :demo
    = image_tag '/assets/store/whats-this.png', :class=>'action-link', 'data-placement'=>"top", 'data-trigger'=>"hover", 'data-toggle'=>"popover", 'data-content'=>t('what_is_this.demo_lenses').html_safe
  .row OR
  .row
    = f.radio_button :demo_or_sunglasses, :sunglasses, :class => 'refresh_totals demo_or_sunglasses'
    = f.label :demo_or_sunglasses, t("lens_prescription.frames_sunglasses.sunglasses.title"), :value => :sunglasses
    .sunglasses-with{:style=> ('display:none;' unless @current_order.lens_meta_prescription.demo_or_sunglasses == :sunglasses)}
      .row
        = f.radio_button :standard_or_custom_tint_or_polarized, :standard, :class => 'refresh_totals'
        = f.label :standard_or_custom_tint_or_polarized, t("lens_prescription.frames_sunglasses.sunglasses.standard"), :value => :standard
      .row
        = f.radio_button :standard_or_custom_tint_or_polarized, :custom_tint, :class => 'refresh_totals'
        = f.label :standard_or_custom_tint_or_polarized, t("lens_prescription.frames_sunglasses.sunglasses.custom_tint"), :value => :custom_tint
        = f.select :custom_tint, Spree::LensPrescription::TINT.map {|t| [t("lens_prescription.tint.#{t}"), t]}
      .row
        = f.radio_button :standard_or_custom_tint_or_polarized, :polarized, :class => 'refresh_totals'
        = f.label :standard_or_custom_tint_or_polarized, t("lens_prescription.frames_sunglasses.sunglasses.polarized_lens"), :value => :polarized
        = f.select :polarized_color, Spree::LensPrescription::POLARIZED.map {|t| [t("lens_prescription.polarized.#{t}"), t]}
        = image_tag '/assets/store/whats-this.png', :class=>'action-link', 'data-placement'=>"top", 'data-trigger'=>"hover", 'data-toggle'=>"popover", 'data-content'=>t('what_is_this.polarized').html_safe
  - if signed_in? && current_user.active_subscription.blank?
    .row
      = render 'spree/checkout/lens_prescription/purchase_subscription', :f => f, :place => :frames_sunglasses
  .checkout-section
    .form-buttons{'data-hook' => 'buttons'}
      = submit_tag t(:continue), :class => 'continue button primary'
  %hr
