<div class="review nine columns alpha omega" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <div class="eight columns alpha omega">
    <div class="review-header">
      <span itemprop="author" class="user-name-review"><%= review.name %></span>
      <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
        <%= render :partial => "spree/reviews/stars", :locals => {:stars => review.rating} %>
      </span>
      
      <div class="date-post"> Posted on <%= l review.created_at.to_date %></div>
      
    </div>
      
    
    <div itemprop="reviewBody">
      <%= simple_format(review.review) %>
    </div>
    <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
    <div class="feedback_review" id="feedback_review_<%= review.id %>">
      <%= render :partial => "spree/feedback_reviews/form", :locals => {:review => review} %>
    </div>
    <% end %>
  </div>
</div>